# Archivos específicos de Python
__pycache__/
*.pyc
*.pyo
.python-version
env/
venv/
*.egg-info/
.env

# Archivos específicos de Django
*.sqlite3
instance/
migrations/
static/

# Archivos de desarrollo y pruebas
*.log
*.pot
local_settings.py
db.sqlite3-*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos de Pipenv
Pipfile.lock